.ew-resize {
    cursor: ew-resize !important;
}

.ns-resize {
    cursor: ns-resize !important;
}

.selected-component {
    border: 1px black solid !important;
    border-right: 10px black solid !important;
    padding-bottom: 10px;
}

.default-component {
    border: 1px grey solid;
    border-right: 10px grey solid;
    padding-bottom: 10px;
}

.default-cnt {
    min-height: 50px
}

.active-container {
    border: 1px dashed #3987d9 !important;
}

.nav {
    background-color: #2d3238;
}

.sidenav {
    height: calc(100vh - 50px) !important;
}

.propertyEditor {
    height: calc(100vh - 50px) !important;
}

i:hover {
    cursor: pointer;
}

.trash-icon {
    color: blue;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cmpTrash {
    height: calc(100vh - 110px);
    width: 100%;
    background-color: #ffffff;
    border: 1px dotted blue;
}

.search-term {
    width: 100%;
    padding: 5px 15px;
    border: none !important;
    outline: none;
    border-radius: 7px;
    box-shadow: none
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
    margin-bottom: 5px;
}

/* style icon */
.inner-addon>button[type="button"] {
    position: absolute;
    padding: 3px;
    pointer-events: none;
}

.inner-addon>button.remove_button {
    padding: 0 10px 0 0;
    cursor: pointer;
}

.inner-addon>button.remove_button:hover,
.inner-addon>button.remove_button:active {
    cursor: pointer;
}


/* align icon */
.left-addon .btn {
    left: 0px;
}

.right-addon .btn {
    right: 2px;
}

/* add padding  */
.right-addon input {
    padding-right: 40px;
}

/* collapsible panel  */
label[data-toggle="collapse"][aria-expanded=true]:before {
    content: "\f107";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
}

label[data-toggle="collapse"][aria-expanded=false]:before {
    content: "\f105";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
}

label[data-toggle="collapse"]:not([aria-expanded]):before {
    content: "\f105";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
}

.search_button {
    transition: display 0.5s ease-in-out;
    display: none;
}

.remove_button {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    font-size: 20px;
    top: 0;
    border-top-width: 0px;
    font-weight: bold;
    color: black;
    font-family: revert;
    display: none;
}

.remove_button>label {
    font-size: 20px;
}

.middleNav {
    width: calc(100% - 715px);
}

@media only screen and (max-width: 1366px) {
    .middleNav {
        width: calc(100% - 650px);
    }
}