body {
	font-size: 14px;
}

.select2-selection__rendered {
	line-height: 22px !important;
	padding: 3px !important;
}

.bootbox-body {
	word-wrap: break-word;
}

.invalid {
	border-color: rgba(235, 73, 73, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(235, 73, 73);
	outline: 0 none;
}

.spinner {
	width: 100vw;
	height: 100vh;
	z-index: 999999;
	position: absolute;
	backdrop-filter: brightness(0.5);
	display: grid;
	place-content: center;
	left: 0;
	top: 0;
}

svg_spinner {
	width: 6rem;
	fill: #9e398a;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}
