div .fc-day-number {
     
    background-color: #B8B8B8;
    border-radius: 50%;
    color: #FFFFFF;
    transition: background-color 0.2s; 
    width:30px;
    height:30px;  
    font-size: 15px;
    margin: 2px;
    min-width: 19px;
    padding: 6px;
    text-align: center;
    float: right; 
}
/* .border{
    border-width: 1px 0 0 1px;
    padding: 0;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    border-collapse: separate;
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica;
    

} */
.fc{
    text-align: center;
    font-family: "Helvetica Neue",Helvetica;
    border-bottom-width: 1px;
    border-color: #cdcdcd;
    font-size: 16px;
    
}
.fc-state-highlight { 
    background-color: #ff3b30;
    border-radius: 50%;
    color: #FFFFFF;
    transition: background-color 0.2s; 
    width:30px;
    height:30px;  
    font-size: 15px;
    margin: 2px;
    min-width: 19px;
    padding: 6px;
    text-align: center;
    float: right; 
}

.fc-past-days {
    background-color: rgb(146, 138, 138);
    color: #FFFFFF;
    transition: background-color 0.2s;
    background-color: #B8B8B8;
    border-radius: 50%;
    color: #FFFFFF;
    transition: background-color 0.2s; 
    width:30px;
    height:30px;  
    font-size: 15px;
    margin: 2px;
    min-width: 19px;
    padding: 6px;
    text-align: center;
    float: right; 
}

.fc-border-weekdays{
    border-bottom-width: 1px;
    background-color:rgb(65, 62, 62);
    border-radius: 50%;
    color: #FFFFFF;
    transition: background-color 0.2s; 
    width:30px;
    height:30px;  
    font-size: 15px;
    margin: 2px;
    min-width: 19px;
    padding: 6px;
    text-align: center;
    float: right; 
}

.fc-border {
  
    border-bottom-width: 1px;
    background-color:rgb(65, 62, 62);
    color:white;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align:center;
}
.fc-border-Saturday-Sunday {
    border-bottom-width: 1px;
    background-color:#cdcdcd;
    color:gray;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align:center;
}
.fc-button-prev {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: white;
    margin-right: -1px;
    padding-left:4%;
    margin-top:5%;
    color: black;
    border-color:black;
    border: 1px solid;
    text-align:center;
    margin-left:57%;
    margin-bottom:1.5%;
}
.fc-button-next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    text-align:center;
    color: black;
    border-color:black;
    border: 1px solid;
    padding-left:5%;
    margin-bottom:1.5%
    
}

.fc-label-month{
margin-top: 0;
white-space: nowrap;
font-size: 32px;
font-weight: 100;
margin-bottom: 10px;
padding-right:8px;
margin-bottom:1.5%;
}
.fc-label-year{
    margin-top: 0;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-bottom:1.5%;
    }

.fc-event-inner{

    background-color: lightblue;
    /* padding: 0 1px; */
    /* text-align: left; */
    /* margin-right: 10px; */
    
    /* padding-bottom: 0px; */
    font-size: 14px;
    font-weight: 800;
    float: left;
    margin-top: 13px;
    margin-left: 1.2%;
    padding-left: 2px;


    border-right-width: 1px;
}

.fc-event-date{
    padding-right:18px;
    margin-bottom:2%;
    font-size:50px;
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica;
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 900;
    line-height: 30px;
    text-align:center;
}
.fc-event-date-end{
    margin-right:18px;
    padding-right:100px; 
    margin-bottom:2%;

    margin-right:100%;
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align:center;

}
.fc-event-label-title{
    /* padding-right:100px;  */
    /* margin-right:100%; */
    font-size:32px;
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica;
    font-size: 16px;
    font-weight: 900;
    line-height: 30px;
    padding-bottom: 1.5%;
    
}
.fc-event-input{
    padding-right:500px; 
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 12px;
    /* margin-left:100%; */
}
    /* "fc-event-time","fc-event-title" */
.border-c {
    border-width: 1px 0 0 1px;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    border-collapse: separate;
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica;
    padding: 1px;
    box-sizing: border-box;  
}