[type="date"]:before {
    content: attr(data-date);
    color: black;
}

[type="date"] {
    position: relative;
    /*width: 150px; height: 20px;*/
    color: white;
}

[type="date"]::-webkit-datetime-edit,
[type="date"]::-webkit-inner-spin-button,
[type="date"]::-webkit-clear-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    right: 0;
    color: black;
    opacity: 1;
}

[type="date"] {
    min-width: 100px;
}