i:hover {
    cursor: pointer;
}

.trash-icon{
    color: blue;
}

.deleteTrash {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border: 1px dotted blue;
}