
  .uploadReportModal .modal-dialog {
    max-width: 100%;
    margin: 5rem 10rem;
  }
  .uploadReportModal .modal-content {
    width: 100%;
  }
  .uploadRepeater {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .uploadRepeaterLabel {
    background-color: #2d2d2d;
    color: white;
    font-size: 13px;
    text-align: center;
    margin: 10px;
    width: 200px;
    height: 100%;
    min-height: 70px;
    max-height: 70px;
    padding-top: 20px;
  }
  .uploadRepeaterLabel:hover {
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease-in-out;
  }