.kanban-centered {
    position: relative;
    margin-bottom: 30px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.kanban-centered.drop {
    border: 2px dashed #FFF;
}

.kanban-centered.drop div {
    pointer-events: none;
}

.kanban-centered .kanban-entry {
    position: relative;
    /*width: 50%;
        float: right;*/
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(77, 77, 77);
    margin: 10px 8px;
    border-radius: 4px;
    height: 50px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
}



.kanban-col {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.panel-heading {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    background-color: rgb(74, 71, 255);
    border-radius: 5px;
}

.grab {
    cursor: grab;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}



.panel-body.drop {
    border: 2px dashed #FFF;
}

.panel-body.drop div {
    pointer-events: none;
}

.grab.dragging {
    opacity: .5;
    transform: scale(.8);
}

.grab:active {
    cursor: grabbing;

}

.grabbing {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.panel-heading {
    cursor: context-menu;
}

.panel-heading i {
    cursor: pointer;
}