/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    max-width: 60px;
    height: 34px;
}

.block {
    display: block !important;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5rem;
    width: 100%;
}

.slider:before {
    position: absolute;
    content: '\2715';
    height: 2rem;
    width: 2rem;
    left: .3rem;
    bottom: .3rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f44336;
}

input:checked+.slider {
    background-color: #1f94cd;
}

input:checked+.slider:before {
    transform: translateX(100%);
    content: '\2713';
    color: green;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


input.default:checked+.slider {
    background-color: #444;
}

input.primary:checked+.slider {
    background-color: #2196F3;
}

input.success:checked+.slider {
    background-color: #8bc34a;
}

input.info:checked+.slider {
    background-color: #3de0f5;
}

input.warning:checked+.slider {
    background-color: #FFC107;
}

input.danger:checked+.slider {
    background-color: #f44336;
}