.CodeMirror-sizer {
  margin-left: 30px !important;
}

.CodeMirror-gutters,
.CodeMirror-gutter.CodeMirror-linenumbers {
  min-width: 30px;
}

div[id*="jsEditorModal"] .modal-body {
  padding: 0px;
}

.editorBodyContainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

.panelContainers {
  display: flex;
  padding: 5px;
  border: 1px solid black;
  margin-top: 10px;
}

.leftPanelContainer, .middlePanelContainer, .rightPanelContainer {
  padding : 5px;
  border: 1px solid grey;
}

.middlePanelContainer {
  margin: 0px 5px;
}
