
.ew-resize {
    cursor: ew-resize !important;
  }
  .ns-resize {
    cursor: ns-resize !important;
  }
  
  .selected-component {
    position: absolute !important;
    border: 1px dashed #3987d9;
    width: 100px;
    height: 30px;
  }
  /* .dragged-component {
      position: relative !important;
      border: 1px dashed #3987d9 !important;
      width: 100px ;
      height: 30px ;	
  } */
  .default-component {
    background-color: rgba(204, 22, 22, 0);
    width: 100px;
    height: 30px;
    border: 1px solid #3987d9;
    position: absolute !important;
  }
  .default-cnt {
    min-height: 50px;
  }
  .band {
    width: 100% !important;
    height: 200px;
    background-color: #f4f9ff !important;
  }
  .title {
    border-top: 1px dashed blue !important;
  }
  .bandName {
    display: flex;
    justify-content: center;
    color: #d3d3d3 !important;
    font-size: 18px !important;
  }
  
  .resizable {
    background-color: #727272;
    width: 7px;
    height: 7px;
    cursor: se-resize;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .active-container {
    border: 1px dashed #3987d9 !important;
  }
  
  .nav {
    background-color: #2d3238;
    justify-content: center;
  }
  
  .sidenav {
    height: calc(100vh - 50px) !important;
  }
  
  .propertyEditor {
    height: calc(100vh + 199px) !important;
  }
  .propertyEditorTrash {
    height: calc(30vh - 80px) !important;
    margin: 27%;
    padding: 20%;
    border: 1px dashed blue;
    border-radius: 50%;
    background-color: #f8f8f9;
  }
  
  i:hover {
    cursor: pointer;
  }
  
  .trash-icon {
    color: blue;
  }
  
  .cmpTrash {
    height: calc(100vh - 110px);
    width: 100%;
    background-color: #ffffff;
    border: 1px dotted blue;
  }
  
  .search-term {
    width: 100%;
    padding: 5px 15px;
    border: none !important;
    outline: none;
    border-radius: 7px;
    box-shadow: none;
  }
  
  /* enable absolute positioning */
  .inner-addon {
    position: relative;
    margin-bottom: 5px;
  }
  
  /* style icon */
  .inner-addon .btn {
    position: absolute;
    padding: 3px;
    pointer-events: none;
  }
  
  /* align icon */
  .left-addon .btn {
    left: 0px;
  }
  
  .right-addon .btn {
    right: 2px;
  }
  
  /* add padding  */
  .right-addon input {
    padding-right: 40px;
  }
  /* collapsible panel  */
  label[data-toggle="collapse"][aria-expanded="true"]:before {
    content: "\f107";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
  }
  label[data-toggle="collapse"][aria-expanded="false"]:before {
    content: "\f105";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
  }
  label[data-toggle="collapse"]:not([aria-expanded]):before {
    content: "\f105";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
  }
  
  /* guide lines */
  .guide {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
  }
  label[id*='guide-h'] {
    border-top: 1px dashed #55f;
    width: 100%;
  }
  label[id*='guide-v'] {
    border-left: 1px dashed #55f;
    height: 1002px;
  }

  /* wa */
  .wa-size {
    width: 600px;
  }
  