/* Report Css */
.dbModalRepeaterContainer {
    display: flex;
  }
  .dbModalRepeater {
    border: 1px solid #d3d3d3;
    padding: 5px;
    min-height: 100px;
  }
  .componentContainerMiddle {
    display: grid;
    justify-content: center;
  }
  .selectedItem {
    background-color: rgba(57, 135, 217, 0.5);
    font-size: 15px;
  }
  .deselectedItem {
    background-color: #ffc0cb;
    font-size: 15px;
  }
  .dbModalAddFieldsLabel {
    font-size: 12px;
  }
  .dbModalAddFieldsButton {
    font-size: 15px;
  }
  .dbModalDatasourceContainer,
  .dbModalDataviewContainer {
    padding: 0px 15px;
  }
  .dbModalAddFieldsContainer {
    margin-left: 0;
    padding: 0px;
  }
  .newLeftRepeaterComponent {
    background: black !important;
    color:grey;
  }