.component__model {
    font-size: large;
}

.component__model::before {
    color: #fff;
}

.behaviors__list input[type="text"] {
    display: inline-block;
    width: 10rem;
    margin-left: 390px;
    margin-top: 4px;
    background-color: #BBBBBB;
    border: 1px solid whitesmoke;
    color: white;
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin-left: 15px;
}

.behaviors__list button[type="button"] {
    margin-bottom: 5px;
}

.buttons-sideNav {
    padding-top: 10px;
    background-color: #C2C2C2;
    height: calc(100vh - 50px) !important;
}

.height {
    height: calc(100vh - 50px) !important;
}

.buttons {
    padding-left: 15px;
    margin: 0;
    width: 80px;
    height: 80px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    outline: none;
}

/* .buttons:hover {
    border-left: 1px solid #000000;
} */

.bars:before {
    color: #ACACAC;
}

.bars:hover:before {
    color: #EFEFEF;
    text-decoration: none;
}

.rocket:before {
    color: #ACACAC
}

.rocket:hover:before {
    color: #EFEFEF;
    text-decoration: none;
}

.list-ol:before {
    color: #ACACAC;
}

.list-ol:hover:before {
    color: #EFEFEF;
    text-decoration: none;
}

.cloud-upload:before {
    color: #ACACAC;
}

.cloud-upload:hover:before {
    color: #EFEFEF;
    text-decoration: none;
}

.trash:before {
    color: #ACACAC;
}

.trash:hover:before {
    color: #EFEFEF;
    text-decoration: none;
}

.forms__list {
    width: 10rem;
    margin-left: 390px;
    margin-top: 4px;
    background-color: #BBBBBB;
    border: 1px solid whitesmoke;
    color: white;
}