/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    margin: 0;
    top: 0; /* Stay at the top */
    background-color: #f3f3f3f3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top: 50px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .sidenav_left {
    float:left; 
    left: 0;
  }
  .sidenav_right {
    float:right; 
    right:0;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #dddddd;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .sidenav_left_main {
    transition: margin-left .5s;
    padding: 20px;
  }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.sidenav_right_main {
    transition: margin-right .5s;
    padding: 20px;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }